<ion-header color="none" style="background: white;">
    <ion-toolbar color="none" style="background: white;padding:10px">

        <div style="display: flex;justify-content: space-between;">
            <div style="text-align: left;">
                <h1 style="color: black;font-family: headin;">ADMINPANEL</h1>
            </div>

            <div style="text-align: right;display: flex;justify-content: right;align-items: right;">
                <h3 (click)="toggleforms('addprogram')" class="headerlinks"
                    style="color: black;font-family: text;padding-right: 30px;">PROGRAMS</h3>
                <h3 style="width: 8px;"></h3>
                <h3 (click)="toggleforms('addadmin')" class="headerlinks"
                    style="color: black;font-family: text;padding-right: 30px;">ADMINS</h3>
                <h3 style="width: 8px;"></h3>
                <h3 (click)="toggleforms('university')" class="headerlinks"
                    style="color: black;font-family: text;padding-right: 30px;">UNIVERSITIES</h3>
                <h3 style="width: 8px;"></h3>
                <h3 (click)="toggleforms('addlocation')" class="headerlinks"
                    style="color: black;font-family: text;padding-right: 30px;">LOCATIONS</h3>
                <h3 style="width: 8px;"></h3>
                <h3 (click)="toggleforms('addlocation')" class="headerlinks"
                    style="color: red;font-family: text;padding-right: 30px;">LOGOUT</h3>

            </div>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content>

    <!--
            
    ///////////////////////////////////////
    ///////    MAIN PAGE       //////
    ////////////////////////////////////////
        -->

    <div *ngIf="currentdiv == 'main'"
        style="display: flex;justify-content: center;align-items: center;flex-direction: column;">

        <div
            style="display: flex;flex-wrap: wrap;text-align: center;justify-content: center;align-items: center;position: relative;top: 8em;">
            <ion-card style="background: white;min-height: 10em;width: 25em;">
                <ion-card-content>
                    <ion-icon style="font-size: 60px;color: black;" name="add-circle-outline"></ion-icon>
                    <h1 style="font-family: headin;color: black;font-size: 18px;padding-top: 1em;">MANAGE PROGRAMS</h1>
                    <p style="padding-top: 0.5em;font-family: text;color: black;">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Minima vitae dolores facere
                        exercitationem magni. Neque iusto eum sapiente adipisci molestiae!</p>

                    <ion-button (click)="toggleforms('addprogram')" mode='ios' fill='outline'>ADD</ion-button>
                </ion-card-content>
            </ion-card>

            <ion-card style="background: white;min-height: 10em;width: 25em;">
                <ion-card-content>
                    <ion-icon style="font-size: 60px;color: black;" name="add-circle-outline"></ion-icon>
                    <h1 style="font-family: headin;color: black;font-size: 18px;padding-top: 1em;">ADD ADMINS
                    </h1>
                    <p style="padding-top: 0.5em;font-family: text;color: black;">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Minima vitae dolores facere
                        exercitationem magni. Neque iusto eum sapiente adipisci molestiae!</p>
                    <ion-button (click)="toggleforms('addadmin')" mode='ios' fill='outline'>ADD</ion-button>
                </ion-card-content>
            </ion-card>

            <ion-card style="background: white;min-height: 10em;width: 25em;">
                <ion-card-content>
                    <ion-icon style="font-size: 60px;color: black;" name="add-circle-outline"></ion-icon>
                    <h1 style="font-family: headin;color: black;font-size: 18px;padding-top: 1em;">MANAGE UNIVERSITIES
                    </h1>
                    <p style="padding-top: 0.5em;font-family: text;color: black;">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Minima vitae dolores facere
                        exercitationem magni. Neque iusto eum sapiente adipisci molestiae!</p>
                    <ion-button (click)="toggleforms('university')" mode='ios' fill='outline'>ADD</ion-button>
                </ion-card-content>
            </ion-card>

            <ion-card style="background: white;min-height: 10em;width: 25em;">
                <ion-card-content>
                    <ion-icon style="font-size: 60px;color: black;" name="add-circle-outline"></ion-icon>
                    <h1 style="font-family: headin;color: black;font-size: 18px;padding-top: 1em;">MANAGE LOCATIONS</h1>
                    <p style="padding-top: 0.5em;font-family: text;color: black;">Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Minima vitae dolores facere
                        exercitationem magni. Neque iusto eum sapiente adipisci molestiae!</p>
                    <ion-button (click)="toggleforms('addlocation')" mode='ios' fill='outline'>ADD</ion-button>
                </ion-card-content>
            </ion-card>

        </div>


    </div>

    <!--
            
    ///////////////////////////////////////
    ///////    PROGRAMSSS PAGE       //////
    ////////////////////////////////////////
        -->

    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;"
        *ngIf="currentdiv == 'addprogram'">

        <h1 style="color: black;font-family: headin;font-size: 30px;">PROGRAMS</h1>

        <div style="display: flex;flex-wrap: wrap;padding: 30px;justify-content: center;">


            <ion-card *ngFor="let item of programs" style="background: white;min-height: 10em;width: 25em;">
                <ion-card-content>

                    <p style="color: black;font-family: text;" *ngIf="item.university"> <b>UNIVERSITY NAME:</b>
                        {{item.university}}</p>

                    <div style="display: flex;color: black;font-family: text;justify-content: space-between;">
                        <p *ngIf="item.level"> <b>LEVEL:</b> {{item.level}}</p>

                        <p *ngIf="item.country">
                            <b>COUNTRY:</b>
                            {{item.country}}
                        </p>

                        <p *ngIf="item.city"> <b>CITY:</b> {{item.city}}</p>

                    </div>

                    <div style="display: flex;color: black;font-family: text;justify-content: space-between;">
                        <p *ngIf="item.name"> <b>NAME:</b> {{item.name}}</p>



                        <p *ngIf="item.url"> <b>URL:</b> {{item.url}}</p>

                    </div>

                    <div style="display: flex;color: black;font-family: text;justify-content: space-between;">
                        <p *ngIf="item.students"> <b>STUDENTS:</b> {{item.students}}</p>



                        <p *ngIf="item.phone"> <b>URL:</b> {{item.phone}}</p>

                    </div>

                    <div style="display: flex;color: black;font-family: text;flex-direction: column;">
                        <p> <b>DESCRIPTION:</b></p>



                        <p *ngIf="item.desc">{{item.desc}}</p>

                    </div>



                    <ion-button (click)="deleteProgram(item.docID)" color="danger" mode='ios' fill='outline'>Remove
                    </ion-button>
                </ion-card-content>
            </ion-card>
        </div>

        <div style="background: white;min-height: 20em;min-width: 30em;position: relative;top: 1em;padding:20px;">

            <h1 style="color: black;font-family: headin;text-align: center;">ADD A PROGRAM</h1>

            <div style="display: flex;padding-top: 20px;">
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">LEVEL</ion-label>
                    <ion-select [(ngModel)]="program.level" (ionChange)="chooselevel(program.level)"
                        style="width: 60px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of levelsavailable" value='{{item}}' color="none"
                            style="color: black;">{{item}}
                        </ion-select-option>
                    </ion-select>

                </div>

                <div style="display: flex;padding-left: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">COUNTRY</ion-label>
                    <ion-input style="width: 15em;height: 40px;" [(ngModel)]="program.country"></ion-input>

                </div>

                <div style="display: flex;padding-left: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">CITY</ion-label>
                    <ion-input style="width: 16em;height: 40px;" [(ngModel)]="program.city"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">LANGUAGE</ion-label>
                    <ion-select [(ngModel)]="program.language" (ionChange)="chooselanguage(program.language)"
                        style="width: 10em;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of languageavailable" value={{item}}
                            style="background-color: white;">{{item}}</ion-select-option>
                    </ion-select>

                </div>



                <div style="display: flex;padding-left: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">STREET</ion-label>
                    <ion-input style="width: 25em;height: 40px;" [(ngModel)]="program.street"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">UNIVERSITY</ion-label>
                    <ion-input style="width: 47.5em;height: 40px;" [(ngModel)]="program.university"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">DURATION</ion-label>
                    <ion-input style="width: 30%;height: 40px;" [(ngModel)]="program.duration"></ion-input>
                    <div style="width: 10px;">

                    </div>
                    <ion-select [(ngModel)]="program.durationUnit" (ionChange)="chooseduration(program.durationUnit)"
                        style="width: 60px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of durationsavailable" value='{{item}}'
                            style="background-color: white;"></ion-select-option>
                    </ion-select>
                </div>

                <div style="width: 2em;">

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">STUDENTS</ion-label>

                    <ion-select [(ngModel)]="program.studentsUnit" (ionChange)="chooseduration(program.studentsUnit)"
                        style="width: 60px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of students" value='{{item}}'
                            style="background-color: white;">
                            {{item}}</ion-select-option>
                    </ion-select>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">FEE LOCAL </ion-label>
                    <ion-input style="width: 30%;height: 40px;" [(ngModel)]="program.lFee"></ion-input>
                    <div style="width: 10px;">
                    </div>
                    <ion-select [(ngModel)]="program.lFeeUnit" (ionChange)="chooseduration(program.lFeeUnit)"
                        style="width: 60px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of durationsavailable" value='{{item}}'
                            style="background-color: white;">{{item}}</ion-select-option>
                    </ion-select>
                </div>

                <div style="width: 2em;">
                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">CATEGORY</ion-label>
                    <div style="width: 10px;">

                    </div>
                    <ion-select [(ngModel)]="program.cat" style="width: 10.5em;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of categories" value='{{item}}'
                            style="background-color: white;">
                            {{item}}
                        </ion-select-option>
                    </ion-select>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">FEE INTERNATIONAL </ion-label>
                    <ion-input style="width: 30%;height: 40px;" [(ngModel)]="program.iFee"></ion-input>
                    <div style="width: 10px;">

                    </div>
                    <ion-select [(ngModel)]="program.lFeeUnit" style="width: 60px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of currencyavailable" value='{{item}}'
                            style="background-color: white;">{{item}}</ion-select-option>
                    </ion-select>
                </div>
                <div style="width: 2em;">

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">MODE</ion-label>
                    <ion-select [(ngModel)]="program.mode" style="width: 9.1em;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of modesavailable" value='{{item}}'
                            style="background-color: white;">
                            {{item}}
                        </ion-select-option>
                    </ion-select>

                </div>

            </div>


            <div style="display: flex;padding-top: 20px;justify-content: space-between;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PACE</ion-label>
                    <ion-select  [(ngModel)]="program.pace" style="width: 280px;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of pacesarray" value='{{item}}'
                            style="background-color: white;">
                            {{item}}
                        </ion-select-option>
                    </ion-select>

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PROGRAM URL</ion-label>
                    <ion-input style="width: 100%;height: 40px;" [(ngModel)]="program.url"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;justify-content: space-between;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">EMAIL</ion-label>
                    <ion-input style="width: 30em;height: 40px;" [(ngModel)]="program.email"></ion-input>

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PHONE</ion-label>
                    <ion-input style="width: 14em;height: 40px;" [(ngModel)]="program.phone"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;flex-direction: column;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PROGRAM NAME</ion-label>
                    <ion-input style="width:45em;height: 40px;" [(ngModel)]="program.name"></ion-input>

                </div>

                <div style="display: flex;padding-top: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">PROGRAM DESCRIPTION</ion-label>
                    <ion-input style="width:40em;height: 40px;" [(ngModel)]="program.desc"></ion-input>

                </div>

            </div>

            <div style="text-align: right;padding-top: 10px;">
                <ion-button mode='ios' (click)="submitProgramForm()">SUBMIT</ion-button>
            </div>

        </div>


    </div>

    <!--
            
    ///////////////////////////////////////
    ///////    UNIVERSITIES       //////
    ////////////////////////////////////////
        -->

    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;"
        *ngIf="currentdiv == 'university'">
        <h1 style="color: black;font-family: headin;font-size: 30px;">UNIVERSITIES MANAGEMENT</h1>

        <div style="background:white;min-width: 40%;height: 20em;padding: 20px;overflow-y: auto;">
            <h2 style="color: black;font-family: headin;font-size: 19px;text-align: center;">UNIVERSITIES LISTED</h2>

            <div *ngIf="unis" style="display: flex;justify-content: center;color: black;flex-direction: column;">

                <ion-card *ngFor="let item of unis" style="background: white;color: black;max-width: 90%;">
                    <ion-card-content>
                        <div style="display: flex;justify-content: space-between;">
                            <h4 style="font-family: text;color: black;">{{item.name}}</h4>
                            <h4 style="font-family: text;color: black;"> {{item.country}}</h4>
                            <h4 style="font-family: text;color: black;"> {{item.city}}</h4>
                        </div>

                        <div style="padding-top: 10px;">
                            <h4 style="font-family: text;color: black;">
                                {{item.desc}}
                            </h4>

                        </div>

                        <div style="display: flex;justify-content: space-between;padding-top: 10px;">
                            <h4 style="font-family: text;color: black;"> {{item.contactEmail}}</h4>
                            <h4 style="font-family: text;color: black;"> {{item.iStudents}}</h4>
                            <h4 style="font-family: text;color: black;"> {{item.gRank}}</h4>
                        </div>

                        <br>
                        <ion-button (click)="deleteUni(item.docID)" mode='ios' expand='block' color="danger">
                            REMOVE
                        </ion-button>
                    </ion-card-content>

                </ion-card>
            </div>

            <div style="width: 10%;">



            </div>



        </div>

        <div style="background: white;min-height: 20em;min-width: 30em;position: relative;top: 5em;padding:20px;">

            <h1 style="color: black;font-family: headin;text-align: center;">ADD A UNIVERSITY</h1>

            <div style="display: flex;padding-top: 20px;">
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">UNIVERSITY NAME</ion-label>
                    <ion-input style="width: 16em;height: 40px;" [(ngModel)]="uni.name"></ion-input>


                </div>

                <div style="display: flex;padding-left: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">COUNTRY</ion-label>
                    <ion-input style="width: 19em;height: 40px;" [(ngModel)]="uni.country"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">CITY</ion-label>
                    <ion-input style="width: 15em;height: 40px;background-color: white;" [(ngModel)]="uni.city">

                    </ion-input>

                </div>



                <div style="display: flex;padding-left: 20px;">
                    <ion-label style="color: black;padding-right: 6px;">CONTACT NAME</ion-label>
                    <ion-input style="width: 25em;height: 40px;" [(ngModel)]="uni.contactName"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">CONTACT EMAIL</ion-label>
                    <ion-input style="width: 45em;height: 40px;" [(ngModel)]="uni.contactEmail"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">
                <ion-label style="color: black;padding-right: 6px;">DESCRIPTION</ion-label>
                <ion-input style="width: 14em;height: 40px;" [(ngModel)]="uni.desc"></ion-input>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">TOTAL STUDENTS</ion-label>
                    <ion-input style="width: 25%;height: 40px;" [(ngModel)]="uni.tStudents"></ion-input>

                </div>

                <div style="width: 4%;">

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">INTERNATIONAL STUDENTS</ion-label>

                    <ion-input style="width: 11.3em;height: 40px;background-color: white;" [(ngModel)]="uni.iStudents">

                    </ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">GLOBAL RANK</ion-label>
                    <ion-input style="width: 30px;height: 40px;" [(ngModel)]="uni.gRank"></ion-input>

                </div>


            </div>

            <div style="height: 2px;width: 100%;background: black;position: relative;top: 0.7em;">

            </div>

            <h1 style="color: black;font-size: 20px;font-family: headin;">SCHOLARSHIPS</h1>
            <div style="display: flex;padding-top: 10px;">


                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">CATEGORY</ion-label>

                    <ion-select  [(ngModel)]="uni.scholarship[0].cat" style="width: 16em;height: 40px;background-color: white;">
                        <ion-select-option *ngFor="let item of scholarships" value='{{item}}' style="background-color: white;"
                           >{{item}}</ion-select-option>
                    </ion-select>
                </div>
                <div style="width: 2em;">

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">NAME</ion-label>
                    <ion-input style="width:20em;height: 40px;background-color: white;"
                        [(ngModel)]="uni.scholarship[0].name">
                    </ion-input>

                </div>

            </div>


            <div style="display: flex;padding-top: 20px;justify-content: space-between;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">AMOUNT</ion-label>
                    <ion-input style="width: 280px;height: 40px;background-color: white;"
                        [(ngModel)]="uni.scholarship[0].amount">

                    </ion-input>

                </div>

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PERCENTAGE</ion-label>
                    <ion-input style="width: 100%;height: 40px;" [(ngModel)]="uni.scholarship[0].per"></ion-input>

                </div>

            </div>

            <div style="display: flex;padding-top: 20px;justify-content: space-between;">

                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">DESCRIPTION</ion-label>
                    <ion-input style="width: 52em;height: 40px;" [(ngModel)]="uni.scholarship[0].desc"></ion-input>

                </div>



            </div>

            <div style="height: 2px;width: 100%;background: black;position: relative;top: 1em;">

            </div>

            <div style="display: flex;padding-top: 10px;flex-direction: column;">
                <h1 style="color: black;font-size: 20px;font-family: headin;">ADD PROGRAM</h1>
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">PROGRAM NAME</ion-label>
                    <ion-input style="max-width:35em;height: 40px;" [(ngModel)]="uni.program[0].name"></ion-input>

                </div>
                <div style="height: 20px;">

                </div>
                <div style="display: flex;">
                    <ion-label style="color: black;padding-right: 6px;">CATEGORY</ion-label>
                    <ion-select style="width:20em;height: 40px;">
                        <ion-select-option>
                            
                        </ion-select-option>
                    </ion-select>

                </div>

            </div>

            <div style="text-align: right;padding-top: 10px;">
                <ion-button mode='ios' (click)="submitUniForm()">SUBMIT</ion-button>
            </div>

        </div>

    </div>

    <!--
            
    ///////////////////////////////////////
    ///////    ADD ADMIn       //////
    ////////////////////////////////////////
        -->

    <div style="display: flex;justify-content: center;align-items: center;position: relative;top:5em"
        *ngIf="currentdiv=='addadmin'">
        <div style="width: 67%;" class="formwrapper">
            <h1 style="font-family: headin;" class="headinOne">ADD A NEW ADMIN</h1>
            <div style="position: relative;left: 5em;">

                <div class="field">
                    <ion-label style="font-family: headin;">
                        Name
                    </ion-label>
                    <ion-input [(ngModel)]="name" type='text' class="adjustinput" style="width: 85%;"></ion-input>
                </div>

                <div class="field padtop">
                    <ion-label style="font-family: headin;">
                        Phone
                    </ion-label>
                    <ion-input [(ngModel)]="phone" type='number' class="adjustinput" style="width: 85%;"></ion-input>
                </div>

                <div class="field padtop">
                    <ion-label style="font-family: headin;">
                        Email
                    </ion-label>
                    <ion-input [(ngModel)]="email" type='email' class="adjustinput" style="width: 85%;"></ion-input>
                </div>

                <div class="field padtop">
                    <ion-label style="font-family: headin;">
                        Passowrd
                    </ion-label>
                    <ion-input [(ngModel)]="password" type='password' class="adjustinput" style="width: 85%;">
                    </ion-input>
                </div>



                <div style="position: relative;top: 1.5em;" class="padtop">

                    <ion-button (click)="registerAdmin()" class=""
                        style="max-width: 85%;background-color: black;color: white;" color="none" expand='block'
                        mode='ios'>
                        REGISTER
                    </ion-button>

                </div>
            </div>

        </div>
    </div>

    <!--
            
    ///////////////////////////////////////
    ///////    ADD locations       //////
    ////////////////////////////////////////
        -->

    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;"
        *ngIf="currentdiv == 'addlocation'">
        <h1 style="color: black;font-family: headin;font-size: 30px;">LOCATIONS MANAGEMENT</h1>

        <div
            style="background:white;min-width: 50%;height: 20em;padding: 20px;overflow-y: auto;position: relative;top: 10em;">
            <h2 style="color: black;font-family: headin;font-size: 19px;text-align: center;">LOCATIONS LISTED</h2>

            <div style="display: flex;justify-content: center;flex-direction: column;">



                <ion-input placeholder="ADD COUNTRY " style="width: 100%;height: 40px;background-color: white;">

                </ion-input>


                <div style="height: 1em;">

                </div>
                <ion-input placeholder="ADD CITIES " style="width: 100%;height: 40px;background-color: white;">

                </ion-input>

                <div style="height: 1em;">

                </div>

                <ion-button mode='ios' color="primary">ADD</ion-button>

            </div>
            <div style="display: flex;color: black;">

                <div style="display: flex;flex-direction: column;width: 50%;">
                    <ion-card *ngFor="let item of [].constructor(10)"
                        style="background: white;color: black;max-width: 90%;">
                        <ion-card-content>



                            <div style="display: flex;justify-content: space-between;padding-top: 10px;">
                                <h4 style="font-family: text;color: black;"> COUNTRY</h4>

                            </div>

                            <br>
                            <ion-button mode='ios' expand='block' color="danger">
                                REMOVE
                            </ion-button>
                        </ion-card-content>

                    </ion-card>
                </div>


                <div style="display: flex;flex-direction: column;width: 50%;">
                    <ion-card *ngFor="let item of [].constructor(10)"
                        style="background: white;color: black;max-width: 90%;">
                        <ion-card-content>



                            <div style="display: flex;justify-content: space-between;padding-top: 10px;">
                                <h4 style="font-family: text;color: black;"> CITY</h4>

                            </div>

                            <br>
                            <ion-button mode='ios' expand='block' color="danger">
                                REMOVE
                            </ion-button>
                        </ion-card-content>

                    </ion-card>
                </div>

            </div>

            <div style="width: 10%;">



            </div>



        </div>



    </div>
</ion-content>

<ion-footer>
    <div *ngIf="currentdiv != 'main'" style="position: absolute;bottom: 2px;">
        <ion-button (click)="toggleforms('main')" mode='ios' color="danger" expand='large'>GOTO MAIN</ion-button>
    </div>
</ion-footer>