<ion-content [fullscreen]="true">

  <!--Mobile screen-->
  <div *ngIf="width > 1000" class="body">

    <div *ngIf="!signup" class="formwrapper">
      <h1 style="font-family: headin;" class="headinOne">SIGN IN TO CONTINUE</h1>


      <div style="top: 3em;" class="center">

        <div class="field">
          <ion-label style="font-family: headin;">
            Email
          </ion-label>
          <ion-input [(ngModel)]="email" type='email' style="width: 60%;"></ion-input>
        </div>

        <div class="field padtop">
          <ion-label style="font-family: headin;">
            Password
          </ion-label>
          <ion-input [(ngModel)]="password" type='password' style="width: 60%;"></ion-input>
        </div>

        <div style="text-align: center;font-weight: bold;" class=" padtop">
          <ion-label (click)="resetPass()" style="font-family: text;" class="forgotpass">
            Forgot Password?
          </ion-label>
        </div>

        <div class="padtop">

          <ion-button (click)="login()" class="" style="max-width: 60%;background-color: black;color: white;"
            color="none" expand='block' mode='ios'>
            LOGIN
          </ion-button>

        </div>
      </div>

    </div>



  </div>

  <!--WEB SCREEN-->
  <div *ngIf="width < 1000" class="body">

    <div style="width: 97%;" *ngIf="!signup" class="formwrapper">
      <h1 style="font-family: headin;" class="headinOne">SIGN IN TO CONTINUE</h1>

      <div style="top: 3em;">

        <div class="field">
          <ion-label style="font-family: headin;">
            Email
          </ion-label>
          <ion-input [(ngModel)]="email" type='email' style="width: 85%;"></ion-input>
        </div>

        <div class="field padtop">
          <ion-label style="font-family: headin;">
            Passowrd
          </ion-label>
          <ion-input [(ngModel)]="password" type='password' style="width: 85%;"></ion-input>
        </div>

        <div style="text-align: left;font-weight: bold;" class=" padtop">
          <ion-label (click)="resetPass()"  style="font-family: text;" class="forgotpass">
            Forgot Password?
          </ion-label>
        </div>

        <div class="padtop">

          <ion-button (click)="login()" class="" style="max-width: 85%;background-color: black;color: white;"
            color="none" expand='block' mode='ios'>
            LOGIN
          </ion-button>

        </div>
      </div>

    </div>



  </div>

</ion-content>